@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/api/Music" enctype="multipart/form-data" method="POST">
        上傳檔案?
        <input name="data" type=file multiple><br>
        <input type="submit" />
    </form>
</body>
</html>